/*ACTIVITES*/

.article2{
    margin-bottom: 4rem;
    width:auto;
}

#title-section-activite{
    display: none;
}
 
.box-activites{
    display:flex;
    justify-content: space-between;

}

.card3{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-bottom: 0.5rem;
    width: 14.6rem;
}

.card3 a{
    text-decoration: none;
}

.picture-small3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture3{
    width:100%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin-bottom: 0.7rem;
}

.picture3-1{
    height: 270px;
    background-image:url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

.picture3-2{
    height:125px;
    background-image:url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}

.picture3-3{
    height:85px;
    background-image:url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}

.picture3-4{
    height:270px;
    background-image:url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}

.picture3-5{
    height:100px;
    background-image:url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}

.picture3-6{
    height:100px;
    background-image:url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}

@media screen and (min-width:1024px) and (max-width:1280px){

    .article2{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h2{
        text-align: center;
        padding-bottom: 2rem;
    }
}



@media screen and (min-width:768px) and (max-width:1023px){

    .article2{
        width: auto;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h2{
        text-align: center;
    }

    .box-activites{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 725px;
    }

    .card3{
        width:100%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom:2rem;
    }

    .picture3{
        height:150px;
        width:100%;
    }

 

    .picture-large3{
        display: flex;
        justify-content: center;
    }

    .picture-small3{
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

 
}

@media screen and (max-width:767px){

    .article2{
        width: auto;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        margin-top: 1.5rem;
    }

    .box-activites{
        flex-direction:column;
        width: auto;
        justify-content: center;
    }


    .card3{
        height: 175px;
        margin-right:0px;
        margin-left: 0px;
        margin-bottom: 1.3rem;
        width:100%;
    }

    .picture3{
        width:100%;
        height:140px;
    }
}

