/*ARTICLE1---------------------------------------------------------------------*/
.article1{
    display: flex;
}

h2{
    font-size: 1rem;
}

.titre1{
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    margin-left: 0.6rem;
}

.titre2{
    color:black;
    font-size: 0.6rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.6rem;
}

/*Section hébergements-------------------------------------------------------*/

.section-hebergement{
    background-color: #F2F2F2;
    width:min-content;
    height: min-content;
    border-radius: 1rem;
    padding:0.7rem;
}

.title-hebergement{
    margin-left: 0.6rem;
}

.horizontal-block{
    display: flex;
}

/*card1 (hébergement)*/

.card1{
    background-color: white;
    width:10.5rem;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 0.9rem;
    box-shadow: 0 0 16px #0000002e;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

.card1 a{
    text-decoration: none;
}

.note_star{
    display:flex;
    font-size: 0.6rem;
    margin-left: 0.6rem;
    padding-bottom: 0.2rem;
    padding-top: 0.10rem;
}

.full-star{
    color:#0065FC;
}

.empty-star{
    color:#F2F2F2;
}

.footer-article1{
    margin-left: 0.6rem;
}

/*pictureS (hébergement)*/

.picture1{
    width:100%;
    height:5rem;
    background-position:center;
    background-size: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.picture1-1{
    background-image:url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
.picture1-2{
    background-image:url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

.picture1-3{
    background-image:url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

.picture1-4{
    background-image:url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

.picture1-5{
    background-image:url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

.picture1-6{
    background-image:url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}


@media screen and (min-width:768px) and (max-width:768px){

    .article1{
        flex-direction: column-reverse;
        width:auto;

    }

    .section-hebergement{
        background-color: white;
        width:auto;
        border-radius: 0px;
        margin-top: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .horizontal-block{
        justify-content: center;
    }

    .title-hebergement{
        text-align: center;
        margin-bottom: 2rem;
    }

    .afficher-plus{
        text-align: center;
        margin-top: 2rem;
    }

    .card1{
        width: 14rem;
        height: 11rem;
    }

    .picture1{
        height: 7rem;
    }
    
}

@media screen and (max-width: 767px){
    
    .article1{
        width: auto;
        flex-direction: column-reverse;
    }
    
    .section-hebergement{
        width:auto;
        background-color: white;
        padding-left:0.6rem;
    }

    .horizontal-block{
        flex-direction: column;
        align-items: center;
    }

    .card1{
        margin-left: 0px;
        width:90%;

    }
    
}


