/*ASIDE (Les plus populaires)---------------------------------------- */

.aside1{
    background-color: #F2F2F2;
    width:max-content;
    height: min-content;
    border-radius: 1rem;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:0.7rem;
    padding-bottom: 0.3rem;
    margin-left: 1rem;

}

.title-populaire{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}

.logo-populaire{
    margin-top: 0.8rem;
    margin-right: 0.5rem;
}

.card2{
    background-color:white;
    min-width: min-content;
    height: min-content;
    border-radius: 0.9rem;
    border: solid 3px white;
    margin-right:0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    padding-right: 0.5rem;
    
}
.card2 a{
    display: flex;
    text-decoration: none;
}

.description2 {
    width: calc(100% - 6.3rem);
    align-content:stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

.picture2{
    width:6.5rem;
    height:6rem;
    background-position: center;
    background-size:cover;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.89em;
}

.picture2-1{
    background-image:url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');    
}

.picture2-2{
    background-image:url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

.picture2-3{

    background-image:url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

.note_star_2{
    display:flex;
    font-size: 0.7rem;
    margin-left: 0.6rem;
    margin-bottom: 0.2rem;
}

@media screen and (min-width:481px) and (max-width:1279px){

    .aside1{
        background-color: #F2F2F2;
        max-width: 100%;
        width: auto;
        margin-top: 2rem;
        margin-left: 0px;
        border-radius: 0px;
        overflow-x: scroll;
        padding-bottom: 2rem;
    }

    .title-populaire{
        padding-bottom: 1rem;
    }

    .section-populaires{
        display: flex;
        justify-content: space-around;
        width: max-content;
    }

    .card2{
        width: 30%;
    }

    .logo-populaire{
        display: none;
    }

   

}  

@media screen and (max-width:480px){
    .aside1{
        margin-left:0px;
        border-radius: 0px;
        margin-top:0.4rem;
        width: auto;
    }

    .aside-title{
        padding-left: 0.4rem;
        font-size: 1.1rem;
    }

    .card2{
        height: 125px;
    }

    .picture2{
        height: 125px;
        width:9rem;
    }
}

